* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 20px;
}

header {
  display: flex;
  align-items: center;
}

.header-right {
  margin-left: auto;
} 

h1 {
  font-size: 1.5rem;
}

.pc-menu {
  margin-left: auto;
  display: none;
}

.pc-menu ul {
  list-style-type: none;
  display: flex;
}

.pc-menu a {
  text-decoration: none;
  padding: 5px 10px;
  transition: .3s;
}

.pc-menu a:hover {
  background-color: #ccc;
}

#open.hide {
  display: none;
}

#close {
  display: none;
}

#close.show {
  position: absolute;
  top: 4px;
  right: 16px;
  display: block;
  z-index: 1;
}

p {
  margin: 20px 0;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .85);
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay ul {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  text-align: center;
}

.overlay li {
  list-style-type: none;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  transform: none;
  opacity: 1;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
} 

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
} 

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

@media (min-width:600px) {
  .pc-menu {
    display: block;
    margin-left: auto;
  }

  .sp-menu {
    display: none;
  }
}