* {
  margin: 0;
  padding: 0;
}

main {
  width: 500px;
  margin: 40px auto;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  width: 100px;
  padding: 5px;
  display: inline-block;
  color: #000;
}

.menu li a.active {
  background: #000;
  color: #fff;
  border-radius: 4px 4px 0 0;
}

.menu li a:not(.active):hover {
  opacity: .5;
  transition: .3s;
}

.content {
  padding: 5px;
  display: none;
  min-height: 150px;
}

.content.active {
  background: #000;
  color: #fff;
  display: block;
}