* {
  margin: 0;
  padding: 0;
}

#open,
#close {
  width: 250px;
  border: solid 1px;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  border-radius: 4px;
  cursor: pointer;
}

#open {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
}

#mask.show {
  opacity: 1;
  pointer-events: auto;
}

#modal {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 350px;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  transform: translateY(-500px);
  transition: transform .3s;
}

#modal.show {
  transform: none;
}

#modal p {
  margin-bottom: 10px;
}