h1 {
  font-size: 24px;
  padding: 10px;
  border-bottom: solid 1px;
}

div {
  margin: 10px;
}

div.appear dd {
  display: block;
  animation: fadeIn .3s;
}

dt {
  margin-bottom: 10px;
  cursor: pointer;
}

dt::before {
  content: 'Q. ';
}

dt::after {
  content: '+';
  position: absolute;
  right: 20px;
  transition: .3s;
}

div.appear dt::after {
  transform: rotate(45deg);
}

dd {
  margin: 0;
  display: none;
}

dd::before {
  content: 'A. ';
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}