* {
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  margin: 40px auto;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  width: 120px;
  padding: 5px 0;
  color: #000;
  display: inline-block;
  text-align: center;
  border-radius: 4px 4px 0 0;
}

.menu li a.active {
  background: #000;
  color: #fff;
}

.menu li a:not(.active):hover {
  opacity: .5;
  transition: .3s;
}

.content {
  padding: 10px;
  display: none;
}

.content.active {
  display: block;
  background: #000;
  color: #fff;
}